<ul>
<% current_user.pets.each do |pet| %>
<li> <strong><%= pet.name %></strong> <br> <%= pet.breed %> <br> <%= pet.species %> <br>
<small><%= link_to "Edit Pet", edit_pet_path(pet) %> &nbsp &nbsp 
<%= link_to "Delete Pet", pet, method: :delete, data: { confirm: 'Are you sure you want to delete this pet?' } %>
</small> <br> <br>
</li>
	<% end %>
</ul>

Total Pets: <%= current_user.pets.count %> <br> <br>

<%= link_to "Add Another Pet", new_user_pet_path(current_user) %>