<%= render 'shared/page_title', title: "Share Your Pet's Special Qualities" %>

<%#= form_for @post do |f| %>
<%#= f.hidden_field :pet_id, :value => @pet.id%>
<%#= f.hidden_field :user_id, :value => @user.id %>
<!-- Post Title: <%#= f.text_field :title%><br> -->
<!-- Content: <%#= f.text_area :content %> <br> -->
<%#= f.submit "Give Your Pet Their Props!" %>
<%# end %>

<div class="row">
  <div class="col-md-12">
<%= form_for @post do |f| %>
      <div class="form-group">
<div class="col-md-8">
          <%#= f.hidden_field :pet_id, :value => @pet.id%>
</div>
<div class="form-group">
<div class="col-md-8">
<%#= f.hidden_field :user_id, :value => @user.id %>
</div>
        <div class="control-label col-md-2">
          <%= f.label :title %>
        </div>
        <div class="col-md-8">
          <%= f.text_field :title, class: "form-control", placeholder: "Title of post", autofocus: true %>
</div>
      </div>
      <div class="form-group">
        <div class="control-label col-md-2">
          <%= f.label :content %>
        </div>
        <div class="col-md-8">
          <%= f.text_area :content, rows: 10, class: "form-control", placeholder: "Tell us about your pet." %>
        </div>
      </div>
      <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
          <%= f.submit class: "btn btn-primary btn-lg btn-xlarge" %>
        </div>
      </div>
    <% end %>
    <div class="col-md-4 col-md-offset-4 colormatch">
      [ <%= link_to "Cancel request and return to pets listing", pets_path %> ]
    </div>
  </div>
</div>


