<%= render 'shared/page_title', title: @post.title %>


<div class="well col-md-8 col-md-offset-2">
  <h4 class="center description"><strong><%= @post.pet.name %> <br> <%= @post.pet.species %>:  <%= (@post.pet.breed) %></strong></h4>
<hr> 
<%= simple_format(@post.content) %>
<hr>
<div class="pull-right">
  <p class="center">
  	<em> Created by: </em>
  </p>
  
  <p>
  	<small><%= @post.user.name %></small>
  	<div class="pull-right">
        <%= time_ago_in_words(@post.created_at) %> ago
     </div>
   </p>
 </div>
</div>
<div class="user-actions">
  <% if logged_in? && (current_user == @post.user || current_user.admin?)%>
  <%# binding.pry %>
    <%= link_to "Edit this post", edit_post_path(@post), 
                              class: "btn btn-xs btn-warning" %>
    <%= link_to "Delete this post", post_path(@post), 
                        method: :delete,
      data: { confirm: "Are you sure you want to delete this post?" },
                                      class: "btn btn-xs btn-danger" %>
  <% end %>                                  
  <%= link_to "Return to posts listing", posts_path, 
                                class: "btn btn-xs btn-primary" %>
</div>


