<%= render 'shared/page_title', title: @post.title %>

<div class="well col-md-8 col-md-offset-2">
  <h4 class="center description"><strong> <%= @post.pet.species %>:  <%= (@post.pet.breed) %> named  <%= @post.pet.name %></strong></h4>
<hr /> <%= @post.content %><hr />
<div class="pull-right">
  <p class="center">
  	Created by:
  </p>
  <p>
  	<small><%= @post.user.name %></small>
  	<div class="pull-right">
        <%= time_ago_in_words(@post.created_at) %> ago
     </div>
   </p>
 </div>
</div>